.weather{
    width: 100%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.8em;
    padding: 2em 1.5em 2.5em;
}
.weather__title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.weather__location{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1em;
}
.weather__body {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    margin-bottom: 1.5em;
}
.weather__condition{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1em;
}
.weather__list{
    display: grid;
    gap: 0.5em;
}
.weather__item{
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.weather__label{
    font-size: 0.9em;
    font-weight: 400;
}
.weather__value{
    font-size: 0.9em;
    font-weight: 600;
}
.weather__temp{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1em;
}
.weather__btn{
    display: block;
    margin: 0 auto;
    border: none;
    width: 10em;
    padding: 0.6em ;
    border-radius: 0.7em;
    font-weight: 350;
    background-color: rgb(144, 144, 214);
    color: white;
    filter: grayscale(0.5);
    transition: transform 100ms ease,
                box-shadow 100ms ease,
                filter 100ms ease;
}
.weather__btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.5em #0004;
    filter: grayscale(0);
    font-weight: 600;
}